---

---

<h3 class="Subtitle text-4xl md:text-6xl mb-6 animate-fade-right animate-once " id="Educacion">Educación</h3>

<div class="md:flex md:flex-row-reverse md:items-center md:justify-between  md:w-full md:mb-24 ">
  <picture >
    <img
      class="max-w-64 m-auto md:max-w-80"
      src="/Educacion.jpg"
      alt="Fotografia institucional"
    />
  </picture>

  <p class="Descriptions text-center mx-2 mt-6 px-6 font-extralight md:text-left md:text-lg md:px-0 md:w-1/2 ">
    Además de mi experiencia laboral, cuento con una sólida formación académica.
    Actualmente, me encuentro cursando la carrera de Ingeniería Informática en
    el Tecnológico Nacional de México, Campus San Marcos, con una fecha de
    graduación prevista para junio de 2024. Esta trayectoria educativa me ha
    proporcionado una base sólida en programación, tecnologías de la información
    y habilidades fundamentales para mi desarrollo profesional.
  </p>
</div>
