<h3 class="Subtitle text-4xl md:text-6xl mb-6 animate-fade-right animate-once " id="Educacion">Educación</h3>

<div class="md:flex md:flex-row-reverse md:items-center md:justify-between  md:w-full md:mb-24 ">
  <picture >
    <img
      class="max-w-64 m-auto md:max-w-80"
      src="/Educacion.jpg"
      alt="Fotografía institucional"
    />
  </picture>

  <p class="Descriptions text-center mx-2 mt-6 px-6 font-extralight md:text-left md:text-lg md:px-0 md:w-1/2 ">
    Me titulé como  Ingeniero en Informática en el Tecnológico Nacional de México, Campus San Marcos, con mención honorífica. Esta formación, junto con mis certificaciones en UX/UI Design: Design Thinking and Figma (Udemy), Data Analysis with Python (Desafío Latam), Microsoft Azure Fundamentals AZ-900 (Microsoft, 2021), y Cyber Security Essentials (Cisco, 2021), me permite ofrecer una sólida base de conocimientos y habilidades técnicas, fundamentales para proyectos de desarrollo de software y soluciones tecnológicas.
  </p>
</div>
