---

---

<h3 class="Subtitle text-4xl md:text-6xl my-6 animate-fade-right animate-once">Experiencia</h3>

<section class="border-r-2 pr-4 md:mb-32" id="Experiencia">
 <!--  <article>
    <h3 class="Descriptions font-semibold text-right  md:text-xl">
      Becario Front-end - MPYP
    </h3>

    <p class="Descriptions font-extralight mt-4 text-right  md:text-xl">
      Como becario de medio tiempo en MPYP, desarrollé habilidades en Reacty
      Next bajo supervisión profesional, enfocándome en la creación de
      aplicaciones web sólidas y eficientes. Estas experiencias me
      proporcionaron una base sólida en la implementación de soluciones Frontend
      y en la creación de aplicaciones funcionales y escalables.
    </p>
  </article>
  <article>
    <h3 class="Descriptions font-semibold mt-8 text-right  md:text-xl">
      Internship - Mirai Innovation Research Institute, Osaka Japón
    </h3>

    <p class="Descriptions font-extralight mt-4 text-right  md:text-xl">
      Durante mi pasantía de tres meses en el Mirai Innovation Research
      Institute, profundicé en temas de desarrollo de software y computación en
      la nube. Además, adquirí conocimientos en robótica, inteligencia
      artificial y tecnologías de realidad virtual y aumentada, los cuales
      apliqué en el desarrollo de un proyecto innovador:
    </p>
  </article>

  <article>
    <h3 class="Descriptions font-semibold mt-8 text-right  md:text-xl">
      Desarrollador Full-Stack FreeLancer
    </h3>

    <p class="Descriptions font-extralight mt-4 text-right  md:text-xl">
      Como desarrollador freelance, he tenido la oportunidad de sumergirme en
      proyectos desafiantes y diversos, demostrando mi capacidad para brindar
      soluciones tecnológicas de vanguardia. Mi espíritu emprendedor y pasión
      por la innovación me han llevado a colaborar con startups y empresas
      establecidas, abordando sus necesidades únicas con soluciones a medida.
      Destaca el desarrollo de una Plataforma Administrativa de Mobiliario,
      donde implementé un enfoque de Server Side Rendering para un rendimiento
      óptimo, facilitando eficientemente cotizaciones y procesos de pedidos.
      Además, diseñé y creé un Sistema Integral de Punto de Venta para una
      clínica veterinaria, integrando bases de datos eficientes, sólidas medidas
      de seguridad que redujeron en 95% el riesgo de fugas, y APIs robustas que
      mejoraron la experiencia de usuario. Como freelancer he demostrado mi
      capacidad para abordar proyectos complejos, aplicando las últimas
      tendencias y tecnologías para ofrecer soluciones innovadoras y escalables.
    </p>
  </article> -->

  <div class=" flex flex-col gap-4">
    <div class="collapse collapse-arrow bg-base-100">
      <input type="radio" name="my-accordion-3" checked="checked" /> 
      <div class="collapse-title text-xl Descriptions font-semibold text-right  md:text-xl ">
        Becario Backend MPYP
      </div>
      <div class="collapse-content"> 
        <p class="Descriptions font-extralight mt-4 text-right  md:text-xl">Como becario de medio tiempo en MPYP, desarrollé habilidades en Reacty
          Next bajo supervisión profesional, enfocándome en la creación de
          aplicaciones web sólidas y eficientes. Estas experiencias me
          proporcionaron una base sólida en la implementación de soluciones Frontend
          y en la creación de aplicaciones funcionales y escalables.</p>
      </div>
    </div>

    <div class="collapse collapse-arrow bg-base-100">
      <input type="radio" name="my-accordion-3" checked="checked" /> 
      <div class="collapse-title text-xl Descriptions font-semibold text-right  md:text-xl ">
        Internship - Mirai Innovation Research Institute, Osaka Japón
      </div>
      <div class="collapse-content"> 
        <p class="Descriptions font-extralight mt-4 text-right  md:text-xl">
          Durante mi pasantía de tres meses en el Mirai Innovation Research Institute, profundicé en temas de desarrollo de software y computación en la nube. Además, adquirí conocimientos en robótica, inteligencia artificial y tecnologías de realidad virtual y aumentada, los cuales apliqué en el desarrollo de un proyecto innovador:
        </p>
      </div>
    </div>
    
    <div class="collapse collapse-arrow bg-base-100">
      <input type="radio" name="my-accordion-3" checked="checked" /> 
      <div class="collapse-title text-xl Descriptions font-semibold text-right  md:text-xl ">
        Desarrollador Full-Stack FreeLancer
      </div>
      <div class="collapse-content"> 
        <p class="Descriptions font-extralight mt-4 text-right  md:text-xl">
          Como desarrollador freelance, he tenido la oportunidad de sumergirme en proyectos desafiantes y diversos, demostrando mi capacidad para brindar soluciones tecnológicas de vanguardia. Mi espíritu emprendedor y pasión por la innovación me han llevado a colaborar con startups y empresas establecidas, abordando sus necesidades únicas con soluciones a medida. Destaca el desarrollo de una Plataforma Administrativa de Mobiliario, donde implementé un enfoque de Server Side Rendering para un rendimiento óptimo, facilitando eficientemente cotizaciones y procesos de pedidos. Además, diseñé y creé un Sistema Integral de Punto de Venta para una clínica veterinaria, integrando bases de datos eficientes, sólidas medidas de seguridad que redujeron en 95% el riesgo de fugas, y APIs robustas que mejoraron la experiencia de usuario. Como freelancer he demostrado mi capacidad para abordar proyectos complejos, aplicando las últimas tendencias y tecnologías para ofrecer soluciones innovadoras y escalables.
        </p>
      </div>
    </div>
    
   
   
  </div>
  
</section>
