<h3 class="Subtitle text-4xl md:text-6xl my-6 animate-fade-right animate-once">
  Experiencia
</h3>

<section class="border-r-2 pr-4 md:mb-32" id="Experiencia">
  <div class="flex flex-col gap-4">
    <!-- Full Stack Developer y Líder de Proyecto - Los Reyes del Injerto -->
    <div class="collapse collapse-arrow">
      <input type="radio" name="my-accordion-3" checked="checked" />
      <div
        class="collapse-title text-xl Descriptions font-semibold text-right md:text-xl"
      >
        Los Reyes del Injerto - Full Stack Developer y Líder de Proyecto (Mayo
        2024 - Enero 2025)
      </div>
      <div class="collapse-content">
        <p class="Descriptions font-extralight mt-4 text-right md:text-xl">
          Durante mi tiempo como Full Stack Developer y Líder de Proyecto,
          gestioné y optimicé un ERP interno utilizando PHP y MySQL. Implementé
          mejoras en la base de datos, desarrollé endpoints RESTful API y mejoré
          la interfaz de usuario con Bootstrap y jQuery. Además, supervisé el
          mantenimiento de servidores y la gestión de almacenamiento para
          garantizar la estabilidad y escalabilidad del sistema.
        </p>
      </div>
    </div>

    <!-- Desarrollador Backend - MPYP -->
    <div class="collapse collapse-arrow">
      <input type="radio" name="my-accordion-3" />
      <div
        class="collapse-title text-xl Descriptions font-semibold text-right md:text-xl"
      >
        MPYP - Desarrollador Backend (Agosto 2023 - Diciembre 2023)
      </div>
      <div class="collapse-content">
        <p class="Descriptions font-extralight mt-4 text-right md:text-xl">
          Trabajé en el desarrollo de aplicaciones robustas utilizando Laravel y
          SQL. Me encargué de la integración de APIs, el manejo de autenticación
          con Laravel Sanctum y la optimización de la infraestructura del
          servidor para mejorar el rendimiento y la escalabilidad.
        </p>
      </div>
    </div>

    <!-- Pasante en Desarrollo de Software - Mirai Innovation Research Institute -->
    <div class="collapse collapse-arrow">
      <input type="radio" name="my-accordion-3" />
      <div
        class="collapse-title text-xl Descriptions font-semibold text-right md:text-xl"
      >
        Mirai Innovation Research Institute Osaka, Japón - Pasante en Desarrollo
        de Software (Abril 2023 - Julio 2023)
      </div>
      <div class="collapse-content">
        <p class="Descriptions font-extralight mt-4 text-right md:text-xl">
          Durante mi pasantía, participé en el desarrollo de una plataforma de
          teleoperación utilizando Node.js y Python. Implementé funcionalidades
          de reconocimiento de objetos y optimicé la infraestructura de backend
          utilizando AWS, lo que resultó en un aumento significativo en la
          eficiencia operativa del sistema.
        </p>
      </div>
    </div>

    <!-- Freelance - Desarrollador Full-Stack -->
    <div class="collapse collapse-arrow">
      <input type="radio" name="my-accordion-3" />
      <div
        class="collapse-title text-xl Descriptions font-semibold text-right md:text-xl"
      >
        Freelance - Desarrollador Full-Stack (Enero 2022 - Actualidad)
      </div>
      <div class="collapse-content">
        <p class="Descriptions font-extralight mt-4 text-right md:text-xl">
          Como freelance, he desarrollado aplicaciones web utilizando React y
          Node.js. He trabajado en proyectos de desarrollo de sistemas de punto
          de ventas y plataformas de gestión, optimizando la experiencia del
          usuario mediante el uso de Material UI y TailwindCSS.
        </p>
      </div>
    </div>
  </div>
</section>
