---

---

<h3
  class="Subtitle text-4xl md:text-6xl my-6 animate-fade-right animate-once"
  id="#Awards"
>
  Conferencias y premiaciones
</h3>

<section class="border-l-2 pl-4 md:mb-32 md:flex-col md:flex md:gap-6">
  <!--   <article>
    <div class="title flex mt-8">
      <img class="mr-2" src="/tecNM.svg" alt="Logo Tecnológico" />
      <h3 class="Descriptions font-semibold md:text-xl">
        Conferencia "Caminos al éxito: Del aula a la vida profesional
      </h3>
    </div>

    <p class="Descriptions font-extralight mt-4 md:text-lg">
      El Tecnológico Nacional de México, Campus San Marcos, me otorgó un
      reconocimiento por ofrecer esta conferencia inspiradora a estudiantes, en
      la que compartí mi experiencia y motivé a los jóvenes a perseguir sus
      sueños en el campo de la tecnología.
    </p>
  </article>
  <article>
    <div class="title flex mt-8">
      <img class="mr-6" src="/Bachi.svg" alt="Logo COBACH" />
      <h3 class="Descriptions font-semibold md:text-xl">
        Conferencia "Jóvenes en la tecnología" - Colegio de Bachilleres #10
      </h3>
    </div>

    <p class="Descriptions font-extralight mt-4 md:text-lg">
      El Colegio de Bachilleres Plantel 10 me reconoció por la conferencia que
      ofrecí a estudiantes de último grado, en la que los introduje al
      emocionante mundo de la tecnología y sus oportunidades.
    </p>
  </article>
  <article>
    <div class="title flex mt-8">
      <img class="mr-2" src="/Cups.svg" alt="Logo CUPS" />
      <h3 class="Descriptions font-semibold md:text-xl">
        Conferencia "Ciberseguridad: Riesgos e implicaciones" - CUPS
      </h3>
    </div>

    <p class="Descriptions font-extralight mt-4 md:text-lg">
      Impartí esta conferencia en la que abordé la importancia de la
      ciberseguridad, la protección de datos y la conciencia sobre ciberataques,
      dirigida a estudiantes de Ingeniería en Sistemas Computacionales y
      Criminalística.
    </p>
  </article>
  <article>
    <div class="title flex mt-8">
      <img class="mr-2" src="/Gober.svg" alt="Logo CUPS" />
      <h3 class="Descriptions font-semibold md:text-xl">
        Reconocimiento Académico - Gobierno del Estado de Guerrero
      </h3>
    </div>

    <p class="Descriptions font-extralight mt-4 md:text-lg">
      El Gobierno del Estado de Guerrero, a través del Consejo de Ciencia,
      Tecnología e Innovación, me otorgó este reconocimiento por mi
      participación y desempeño sobresaliente en el Programa de EmFuTech de
      Mirai Innovation en Japón.
    </p>
  </article>
 -->

  <div class="collapse collapse-plus bg-base-100">
    <input type="radio" name="my-accordion-3" checked="checked" />
    <div
      class="collapse-title text-xl Descriptions font-semibold text-right md:text-xl"
    >
      <div class="title flex">
        <img class="mr-2" src="/tecNM.svg" alt="Logo Tecnológico" />
        <h3 class="md:text-xl">
          Conferencia "Caminos al éxito: Del aula a la vida profesional"
        </h3>
      </div>
    </div>
    <div class="collapse-content">
      <p class="Descriptions font-extralight mt-4 text-right md:text-xl">
        El Tecnológico Nacional de México, Campus San Marcos, me otorgó un
        reconocimiento por ofrecer esta conferencia inspiradora a estudiantes,
        en la que compartí mi experiencia y motivé a los jóvenes a perseguir sus
        sueños en el campo de la tecnología.
      </p>

      <div class="flex gap-4  justify-end">
        <p class="text-right text-blue-600 my-4">
          <a
            target="_blank"
            href="https://drive.google.com/file/d/1w3A0gFeW-BsN6aXkMw8XRehG-5JP34Jn/view?usp=sharing"
            >Certificado</a>
        </p>
        <p class="text-right text-blue-600 my-4">
          <a
            target="_blank"
            href="https://www.facebook.com/TecNMSanMarcosGro/posts/pfbid02XMvgWDwHiMnWPssoiwvzuAVA7eFAKLpLfHReewtrw83HRweGVtpgRKQNkrqrsjMzl"
            >Post</a>
        </p>
      </div>
    </div>
  </div>

  <div class="collapse collapse-plus bg-base-100">
    <input type="radio" name="my-accordion-3" checked="checked" />
    <div
      class="collapse-title text-xl Descriptions font-semibold text-right md:text-xl"
    >
      <div class="title flex">
        <img class="mr-6" src="/Bachi.svg" alt="Logo COBACH" />
        <h3 class="md:text-xl">
          Conferencia "Jóvenes en la tecnología" - Colegio de Bachilleres #10
        </h3>
      </div>
    </div>
    <div class="collapse-content">
      <p class="Descriptions font-extralight mt-4 text-right md:text-xl">
        El Colegio de Bachilleres Plantel 10 me reconoció por la conferencia que
        ofrecí a estudiantes de último grado, en la que los introduje al
        emocionante mundo de la tecnología y sus oportunidades.
      </p>

      <div class="flex gap-4  justify-end">
        <p class="text-right text-blue-600 my-4">
          <a
            target="_blank"
            href="https://drive.google.com/file/d/1ZVEcvSpPA9Big04ZAxkRBytFjJUUtojo/view?usp=sharing"
            >Certificado</a>
        </p>
        <p class="text-right text-blue-600 my-4">
          <a
            target="_blank"
            href="https://www.facebook.com/cobach.lopez/posts/pfbid02jHmka8BYw419CHyxsN2cx3GRMzfcTjMedTMpT5aWQD845umz5g9SMHbQXfbv3n7bl"
            >Post</a>
        </p>
      </div>
    </div>
  </div>

  <div class="collapse collapse-plus bg-base-100">
    <input type="radio" name="my-accordion-3" checked="checked" />
    <div
      class="collapse-title text-xl Descriptions font-semibold text-right md:text-xl"
    >
      <div class="title flex">
        <img class="mr-2" src="/Cups.svg" alt="Logo CUPS" />
        <h3 class="md:text-xl">
          Conferencia "Ciberseguridad: Riesgos e implicaciones" - CUPS
        </h3>
      </div>
    </div>
    <div class="collapse-content">
      <p class="Descriptions font-extralight mt-4 text-right md:text-xl">
        Impartí esta conferencia en la que abordé la importancia de la
        ciberseguridad, la protección de datos y la conciencia sobre
        ciberataques, dirigida a estudiantes de Ingeniería en Sistemas
        Computacionales y Criminalística.
      </p>

      <div class="flex gap-4  justify-end">
        <p class="text-right text-blue-600 my-4">
          <a
            target="_blank"
            href="https://drive.google.com/file/d/1AM8pD2f5XrhhFWfjb2pFyuk3w5AsKvUT/view?usp=drive_link"
            >Certificado</a>
        </p>
        <p class="text-right text-blue-600 my-4">
          <a
            target="_blank"
            href="https://www.facebook.com/cups.ometepec/posts/pfbid02bw64X4nyxGzd7hHDud78YbfvyvXsJWpUze6nv4M7jrKSremWLutDTUj8Wh9LQdoNl"
            >Post</a>
        </p>
      </div>
    </div>
  </div>

  <div class="collapse collapse-plus bg-base-100">
    <input type="radio" name="my-accordion-3" checked="checked" />
    <div
      class="collapse-title text-xl Descriptions font-semibold text-right md:text-xl"
    >
      <div class="title flex">
        <img class="mr-2" src="/Gober.svg" alt="Logo CUPS" />
        <h3 class="md:text-xl">
          Reconocimiento Académico - Gobierno del Estado de Guerrero
        </h3>
      </div>
    </div>
    <div class="collapse-content">
      <p class="Descriptions font-extralight mt-4 text-right md:text-xl">
        El Gobierno del Estado de Guerrero, a través del Consejo de Ciencia,
        Tecnología e Innovación, me otorgó este reconocimiento por mi
        participación y desempeño sobresaliente en el Programa de EmFuTech de
        Mirai Innovation en Japón.
      </p>

      <div class="flex gap-4  justify-end">
        <p class="text-right text-blue-600 my-4">
          <a
            target="_blank"
            href="https://drive.google.com/file/d/1QsX23o_JW-L8UVK151EedktVj1SYxKpV/view?usp=sharing"
            >Certificado</a>
        </p>
        <p class="text-right text-blue-600 my-4">
          <a
            target="_blank"
            href="https://www.facebook.com/EvelynSalgadoP/posts/pfbid02vdsXvAaMSwVELiXobhy7t3CrvPXyfFLgnghSdyGN33zkgptW66z4PbGvtpGhtAZ4l"
            >Post</a>
        </p>
      </div>
    </div>
  </div>
</section>
